# Dependencies
**/node_modules/
**/package-lock.json

# Hardhat build outputs
**/artifacts/
**/cache/
**/fhevmTemp/
**/types/
**/coverage/
**/coverage.json
**/dist/
**/out/

# Hardhat-deploy
**/deployments/

# Logs
*.log
/tmp/*.log

# IDE
.vscode/
.idea/
.DS_Store

# Environment
.env
.env.local
